@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,500,700');


// ------------------- Variable Definitions ------------------- //






// ------------------- General Styles ------------------------ //

body {
	font-family: 'Proza Libre', sans-serif;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

/*h1 {
	font-family: 'Aref Ruqaa', serif;
}*/